/* google font */

body{
    font-family: 'Poppins', sans-serif;
}
/* customization! */
.header-bg{
    background-color: #264653;
    
}

.header-small-text{
    color: #E0E0E0;
}
.btn-color{
    background-color: #E76F51;
}
.best-txt-clr{
    color: #E76F51;
}
.bike-gray {
    filter: grayscale(100);
}