/* google font */

body{
    font-family: 'Poppins', sans-serif;
}
/* customization! */
.header-bg{
    background-color: #264653;
    
}

.header-small-text{
    color: #E0E0E0;
}
.btn-color{
    background-color: #E76F51;
}
.best-txt-clr{
    color: #E76F51;
    
}
.bike-gray {
    filter: grayscale(100);
}
.client-text{
    color: #6C6C6C;
}
.filled{
    color: #E77C40;
    font-size: 17px;
}
.user-3{
    width: 256px;
    height: 256px;
    border-radius: 128px;
    border: gray;
}
.img-caps{
    background-color: rgba(128, 128, 128, 0.527);
    
}

/* extra section-1 start */
figure{
   
    transition: transform .5s linear;

}
figure:hover{
    transform: scale(1.05);
}
/* extra section-1 end */

